body{
  width: 100%;
}

/*.main{
  width: 100%;
  /*margin: 0.5em 0em 5em 11em;*/
  /*outline: 1px solid purple;
}*/

.chessboard-container{
  margin: 2em 0em 2em 22em;
  /*width: 64%;*/
  /*border: 1px solid black;*/
}

.color1{
  background-color:#B4E0F7;
}
.color2{
  background-color:#5EBDED;
}
.number-or-letter{
    font-size: 55px;
    text-align: center;
    margin-top: 18px;
    color:#E2E6E8;
  }

.box{
 /*outline: 1px solid grey;*/
 display:inline-block;
 width: 4.5em;
 height: 4.5em;

}

.chess-piece{
  font-size: 55px;
  text-align: center;
  margin-top: 18px;
}
.light{
  background-color: yellow;

}
/**************  BUTTONS   ***********/
ul{
  margin-left: 40em;
}

li{
  padding: 0.5em;
  display:inline-block;
}

button{
  background-color: #B4E0F7;
  width: 3em;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
}

.move-back{
background: #545657;
transform: translateY(2in);
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
/*@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}*/

/*.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80wpx;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}*/
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
